/* /Layout/Sidebar.razor.rz.scp.css */
form button:hover[b-u8i8mv0efr]{
    background-color:dodgerblue
}
/* /Pages/PageAccueil.razor.rz.scp.css */
.d-flex a[b-5mxf579tuh] {
    text-decoration: none;
    color: black;
}
.d-flex a:hover[b-5mxf579tuh] {
    text-decoration: underline;
}
/* /Pages/PageMagasiner.razor.rz.scp.css */
a[b-3rpgbv7h48]{
    text-decoration:none;
    color:black;
}

main a:hover[b-3rpgbv7h48]{
    text-decoration:underline;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-crt1gj39bz] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-crt1gj39bz] {
    flex: 1;
}

.sidebar[b-crt1gj39bz] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-crt1gj39bz] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-crt1gj39bz]  a, .top-row[b-crt1gj39bz]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-crt1gj39bz]  a:hover, .top-row[b-crt1gj39bz]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-crt1gj39bz]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-crt1gj39bz] {
        display: none;
    }

    .top-row.auth[b-crt1gj39bz] {
        justify-content: space-between;
    }

    .top-row[b-crt1gj39bz]  a, .top-row[b-crt1gj39bz]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-crt1gj39bz] {
        flex-direction: row;
    }

    .sidebar[b-crt1gj39bz] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-crt1gj39bz] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-crt1gj39bz]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-crt1gj39bz], article[b-crt1gj39bz] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
