@page "/"

<PageTitle>Accueil</PageTitle>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="images_Accueil/chaussure.jpg" class="d-block w-100" alt="chaussure">
        </div>
        <div class="carousel-item">
            <img src="images_Accueil/lunette.jpg" class="d-block w-100" alt="lunette">
        </div>
        <div class="carousel-item active">
            <img src="images_Accueil/montre.jpg" class="d-block w-100" alt="montre">
        </div>
        <div class="carousel-item">
            <img src="images_Accueil/sac.jpg" class="d-block w-100" alt="sac">
        </div>
    </div>

</div>
