@page "/connexion"


<div class="login-card-container logRegis d-flex align-items-center justify-content-center ">

    <div class="login-card my-4 align-content-center">


        <div class=" login-card-header mb-2">
            <h3 style="font-weight:bold; color:purple" class="fs-2 fw-bold mb-1"> Se connecter </h3>
            <div style="font-size:calc(1rem*.8); opacity:.8;">Connecte toi pour rejoindre la plateforme</div>
        </div>

        <h4>Se connecter avec</h4>


        <div class="login-card-social mx-auto py-4 align-content-center">

            <div class="log-card-social-btn d-flex">
                <div>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path>
                        </svg>

                    </a>
                    <div style="font-size:calc(1rem*.8); opacity:.8;">Github</div>
                </div>

                <div>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-google" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M17.788 5.108a9 9 0 1 0 3.212 6.892h-8"></path>
                        </svg>

                    </a>
                    <div style="font-size:calc(1rem*.8); opacity:.8;">Google</div>
                </div>
            </div>

        </div>


        <div class="my-3 align-items-center d-flex ou">
            <span class="w-50 border border-1 "></span>
            <span style="font-size:calc(1rem*.8); opacity:.8;">Ou</span>
            <span class="w-50 border border-1 "></span>
        </div>

        <EditForm Model="@logRequest" OnSubmit="HandleLogin" novalidate class="login-card-form align-content-center oi-account-login d-flex flex-column gap-1">
            <DataAnnotationsValidator />

            <div class="col-12 row text-white bg-danger mb-2" style="text-align:center; font-weight:bold">
                <span class="col-12">@LoginMesssage</span>
            </div>

            <div class="form-item ">
                <span class="form-item-icon material-symbols-rounded">person</span>
                <InputText @bind-Value="logRequest.UserName" type="text" class="input" id="username" placeholder="Entrer un nom d'utilisateur" required />


            </div>



            <div class="form-item">
                <span class="form-item-icon material-symbols-rounded">lock</span>
                <InputText @bind-Value="logRequest.Password" type="password" class="input" placeholder="Entrer le mot de passe" id="mdp" required />

            </div>



            <button type="submit" class="btn-primary btn_log">Se connecter</button>


            <Connexion />
        </EditForm>
        <div class="login-card-footer">
            Vous n'avez pas de compte? <a href="/inscription" class="col-3">S'inscrire</a>

        </div>


    </div>


</div>
